<%= form_for @thing do |f| %>

  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @thing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label "I want a thing to:" %><br>
    <%= f.text_area :object_description %>
  </div>
  <div class="field">
    <%= f.label "The problem I have:" %><br>
    <%= f.text_area :problem_description %>
  </div>
  <div class="field">
    <%= f.label "A possible solution:" %><br>
    <%= f.text_area :solution_description %>
  </div>
  
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :tag_list %>
  </div>
  <br>
  
  <%= f.submit 'Add solution', :name => "add_solution" %>  
<table class="table table-striped">
	<thead>
    <tr>
		<th>Existing solution:</th>
        <th>Description:</th>
        <th>Problems with this solution:</th>
        <th colspan="3"></th>
      </tr>
    </thead>

	<tbody>
	

	<%= f.fields_for :solutions do |sol| %>
		<tr>
			<td>    <%= sol.text_field :kind %></td>
		    <td>    <%= sol.text_area :description %></td>
		    <td>    <%= sol.text_area :issues_description %></td>

		</tr>
	<%end%>
</tbody>  
  </table>
  <div class="actions">
  </div>

  <%= f.submit %>

<% end %>
