
<table class="table table-striped">
  <thead>
    <tr>

      <th>Thing to:</th>
      <th>Tags:	</th>
      <th>By:	</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @things.each do |thing| %>
      <tr>

        <td><%= link_to thing.object_description, thing %></td>
		<td><%= raw thing.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>

		<% if thing.user == current_user %>
			<td>you</td>
		<%elsif thing.user == nil %>
			<td><i>anonymous</i></td>
		<%else %>
			<td><%= thing.user.username %></td>	
		<% end%>		

		<% if thing.user == current_user %>
			<td></td>
		<%elsif @followed_things_ids.include? thing.id %>
			<td><%= link_to 'Unfollow', unfollow_path(thing) %></td>
		<%else %>
        	<td><%= link_to 'Follow', follow_path(thing) %></td>			
		<%end%>
		
		
      </tr>
    <% end %>
  </tbody>
</table>

<br>


