
<table class="table table-striped">
  <thead>
    <tr>

      <th>Thing to:</th>
      <th>Tags:	</th>
	  <%unless @followed == false %>
      	<th>By:	</th>
	  <%end%>
      <th colspan="3"></th>


    </tr>
  </thead>

  <tbody>
    <% @things.each do |thing| %>
      <tr>

        <td><%= link_to thing.object_description, thing %></td>
		<td><%= raw thing.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>

  	  <%if @followed == false %>
        <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
  	  <%else%>
        <td><%= thing.user.username %></td>
		
  	  <%end%>






		<% if @followed == true %>
			<td><%= link_to 'Unfollow', unfollow_path(thing) %></td>
		<%end%>
		
      </tr>
    <% end %>
  </tbody>
</table>

<br>


