<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @thing.user.email %>
</p>

<p>
  <strong>Thing to:</strong>
  <%= @thing.object_description %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @thing.problem_description %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @thing.solution_description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @thing.tag_list %>
</p>


<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
