<div class="row">
	<div class="col-lg-12">
		<h1>Thing to:<small>	<%= @thing.object_description %></small></h1>


	<% if @thing.user == current_user %>

		<%= link_to 'Edit thing', edit_thing_path(@thing), class: "btn btn-default" %>
	
	<%end%>
		</div>
		
</div>
<br>
<p>
  <strong>By user:</strong>
  <%= @thing.user.username %>
</p>

<p>
  <strong>Problem:</strong>
  <%= simple_format(@thing.problem_description) %>
</p>
<br>
<p>
  <strong>Solution idea:</strong>
  <%= simple_format(@thing.solution_description) %>
</p>

<p>
  <strong>Tags:</strong>
  <%= raw @thing.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<br>

<h3>Solutions:</h3>

  <%= render 'show_solution' %>

<br>


<h3>Comments:</h3>

<%= render 'form_comment' %>	

<br>

<%if @thing.comments.empty? == false%>
	<h1><small>
		<%= @thing.comments.count %>  <%= "Comment".pluralize(@thing.comments.count)%>
	</small></h1>
<%end%>

<table class="table">

  <%= render @comments %>

</table>