<h1>Thing to:<small> </h1><h1><%= @thing.object_description %></small></h1>
<br	>

<p>
  <strong>By user:</strong>
  <%= @thing.user.email %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @thing.problem_description %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @thing.solution_description %>
</p>


<br>
<h3>Possible solutions:</h3>

  <%= render 'show_solution' %>

<br>
<p>
  <strong>Tags:</strong>
  <%= raw @thing.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>



<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>

<br>
<%= render 'form_comment' %>	

<ol class="microposts">
  <%= render @comments %>
</ol>