

<b><li><%= link_to 'ttd[x]', root_path, class: 'navbar-brand' %></b>
<li><%= link_to "new thing", inside_path %></li> 
<li><%= link_to "your things", inside_path %></li>
<li><%= link_to "browse things", inside_path %></li>
<li><%= link_to "notifs", inside_path %></li>
<li><%= link_to "account", edit_user_registration_path %></li>


<% if current_user.admin? %>
<li><%= link_to "admin", admin_root_path %></li>
<% end %>



