<div class="text-center">


  <br>
  <br>
	<!-- DEFAULT SIGNUP
	<h1>Sign up</h1> -->

	<h1>Sign up</h1><h1><small>
		get alerts on wishlist progress
		<br>search archive of needs
		<br></small>
	</h1>

  <div class="col-sm-4 col-centered">


    <%= form_for(resource, :as => resource_name,
    :url => registration_path(resource_name),
    :html => { :role => "form" }) do |f| %>

    <%= devise_error_messages! %>
		

		<%= f.hidden_field :soft_token, value: current_user.soft_token %>
<br>
    <div class="form-group">
      <div class="row">

          <%= f.email_field :email, placeholder: "email", class: "form-control input-lg" %>

      </div>
    </div>

    <!-- <div class="form-group">
      <%= f.label :username %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :username, class: "form-control" %>
        </div>
      </div>
    </div> -->
	
    <div class="form-group">
      <div class="row">
		  
          <%= f.password_field :password, placeholder: "password", class: "form-control input-lg" %>

      </div>
    </div>

    <!-- <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
    </div> -->
	    </div>
	    <div class="row">
			<div class ="col-xs-2 col-centered">
	        <%= f.submit "Sign up >", class: "btn btn-primary btn-lg" %>
			<br>
	
	    <% end %>
	<br>

	    <!-- <%= render "devise/shared/links" %> -->

	  </div>
  </div>
</div>
